[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
seaborn = "*"
matplotlib = "*"
pandas = "*"
ipykernel = "*"
openpyxl = "*"
plotly-express = "*"
nbformat = "*"
plotly = "*"
lxml = "*"
python-dotenv = "*"
requests = "*"
dash = "*"

[dev-packages]

[requires]
python_version = "3.9"
